.nav {
  position: fixed;
  top: 0;
  display: flex;
  transition-timing-function: ease-in-out;
  transition: all 999ms;
  border-left: 10px solid maroon;
  background-color: #111;
  box-shadow: 0 0 30px rgba(0, 0, 0);
  width: 155px;
  font-weight: bold;
}

.nav__black {
  background-color: #111;
  width: 100%;
}

.nav__logo {
  text-decoration: none;
  width: 100px;
  object-fit: contain;
  color: #fff;
  border-left: 10px solid maroon;
  background-color: #111;
  box-shadow: 0 0 30px rgba(0, 0, 0);
  font-size: 30px;
  font-weight: bold;
  padding: 0.1rem;
  height: 70px;
}

.nav__item {
  position: fixed;
  right: 20px;
  overflow: hidden;
  padding: 20px;
}

.nav-links {
  text-decoration: none;
  font-size: 30px;
  color: #fff;
  border-left: 10px solid maroon;
  background-color: #111;
  box-shadow: 0 0 30px rgba(0, 0, 0);
}

.nav__link2 {
  text-decoration: none;
  font-size: 30px;
  color: #fff;
  border-left: 10px solid maroon;
  background-color: #111;
  box-shadow: 0 0 30px rgba(0, 0, 0);
}

.nav-link.dropdown-toggle {
  color: red !important;
}
